body {
  font-family: '微软雅黑';
    overflow: scroll;
}
h1 {
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 15px;
  position: relative;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: '微软雅黑';
}
h3,h4 {
  color: #d2d2d2;
  font-family: '微软雅黑',"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.col-md-12.no-padding {
    padding-left:0;
    padding-right:0;
}
tr .progress{
  width: 96%;
  display: inline-block;
}
tr .progress-bar {
    min-height: 20px;
    float: none;
}
tr .progress, tr .progress div {
  height: 20px;
}

tr .progress .chunk-status {
    position: absolute;
    left: 24px;
    top: 0;
}
tr .progressCancel{
  display: inline-block;
  float: right;
  position: relative;
  z-index: 100;
  color: #333;
  text-decoration: none;
}
.tip {
  padding-left: 30px;
}
.tip p {
  line-height: 1;
}
#container {
  margin-bottom: 20px;
  border-width: 2px;
  border-radius: 3px;
  border-color: #dcdcdc;
  cursor: default;
}
#container:hover,#container:active  {
  background-color:#fff;
  border-color: #dcdcdc;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#container.draging {
  background-color:#fff;
  border-color:#999999;
}
#success {
  line-height: 30px;
  height: 30px;
  margin:20px 0 0 0;
}
#success div {
    padding-left: 24px;
}
#container a {
  width: 15%;
  min-width: 145px;


}

button {
    border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  color: #646464;
  border: 1px solid #d2d2d2;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  -webkit-user-select: none;
  outline: none;
}
.body .btn-default {
    border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  box-shadow: 0 1px 0 rgba(243, 243, 243, 0.75);
  color: #646464;
  border: 1px solid #d2d2d2;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  -webkit-user-select: none;
  outline: none;
}
.body .btn-default:hover,.body .btn-default:active,.body .btn-default:focus ,.no-padding button:hover,.no-padding button:active,.no-padding button:focus{
  border-color: #bebebe;
  text-decoration: none;
  background-color: #fff;
  color: #262626;
  outline: none;
    -webkit-box-shadow: 0 1px 0 rgba(230, 230, 230, 0.8);
  box-shadow: 0 1px 0 rgba(230, 230, 230, 0.8);
}

a {
    cursor: pointer;
}
